*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*h1,h2,h3,h4,h5,h6,p,span,input,button,textarea,a,li{
    
}*/

body{
    background: #CEE1EF;
}
a{
    text-decoration: none;
}
dl, ol, ul {
    margin: 0%;
}
li{
    list-style: none;
}
/***** kisti section css  ****/
.debt-amount p{
    background: #0367AF;    
    display: inline-block;
    padding: 16px 30px;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid #fff;
}

.kisti-button a{
    background: #0367AF;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid #fff;

}


/* Paid Loan page css code here */

.debt-head{
    background: #0367AF;
    padding: 20px 50px;
    color: #fff;
}
.tbl-head th{
    color: #0367AF;
}

/* saving page css */
.step-card{
    width: 60%;
    background:rgb(247, 247, 247); 
    padding: 20px 30px;
    border-radius: 10px;
}
@media (max-width: 991.98px) {

    .step-card{
        width: 100%;
         
    }
 }
 .cash{
    display: flex;
    justify-content:center;
}
.balance h3{
    font-size: 22px;
}
.pay-img{
    border-bottom: 3px solid #E20F6B;
}
.bkash-bg{
    background: #E20F6B;
}
.nagad-bg{
    background-image: linear-gradient(to right, #e51017, #e83a11, #eb520d, #ed670c, #ee7910, #ee7910, #ee7910, #ee7910, #ed670c, #eb520d, #e83a11, #e51017);
}
.roket{
    background: #8A288F;
}
.roket-img{
    border-bottom: 3px solid #8A288F
}
.accordion-body li{
    margin-top: 16px;
    font-size: 20px;
    
}
.accordion-body th{
    display: inline-block;
   padding-left: 20px; 

  
}
.accordion-body td{
   display: inline-block;
   padding-left: 20px; 
}
.accordion-body {
  background: #E7F1FF;
}
.accordion-body tr{
  display: block;
  border: bottom 1px solid #fff;
}


/* team page css code here */
.team-card{
    margin: 0 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.team-head{
    background:#0367AF;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
.team-img{    
    text-align: center;
    
}
.team-img img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: -1px ;
    position: relative;  
    top: 40px; 
}
.team-body{
    padding: 50px 10px 20px 16px;
    border-left: 2px solid #0367AF;
    border-right: 2px solid #0367AF;
    border-bottom: 2px solid #0367AF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #fff;
}
.team-body p span{
    font-weight: bold;
    margin-right: 6px;
}
/* work page css code here */

.work td a i{
    color: #0367AF;
    font-size: 20px;
}
.work td a:hover i{
    color: #fff;
    transition: all 0.5s ease;
}
.work-model .modal-header{
    background: #0367AF;
    color: #fff;
}
.work-model .form-check{
    /* border-bottom: 1px solid #0367AF; */
}
.work-model .form-check ul li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}
.work-model .form-check ul li{
    display: inline-block;
    margin-left: 16px;
}
.form-check-input {
    margin-top: 1.25em;
    margin-left: -8px !important;
}
.form-check{
    overflow: hidden;
}

/* monitoring page css code here */

.monitoring td img{
    width: 50px;
    height: 50px;
}
.monitoring td a i {
    font-size: 24px;
}

/* work view page css code */

.work-card{
    max-width: 450px;
    background: #fff;
    padding: 10px 80px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.work-card .card-body img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.work-form .work-row ul {
    padding-left: 0%;
}
.work-form .work-row ul li{
    display: inline-block;
    margin: 14px ;
    color: #000;
}
.work-form .work-row ul li a p{
    margin-top: 6px;
    color: #000;
}



@media (max-width: 575.98px) { 

    .debt-head {
        padding: 20px 10px;
    }
    .record h5{
        font-size: 16px;
    }
    .debt-card p{
        font-size: 12px;
        margin-bottom: 8px;
    }
    .table th{
        font-size: 12px;
    }
    .step-card{
        padding: 20px 4px;
         
    }.team-card{
        margin: 6px 10px;
    }
    .work td a i{
       
        font-size: 12px;
    }
    .work-model .form-check ul {
        padding: 5px;
    }
    .work-model .form-check ul li{
        display: inline-block;
        margin-left: 6px;
    }
    .monitoring td{
        font-size: 13px;
    }
    .monitoring td a i {
        font-size: 16px;
    }
    .work-card {
        padding: 10px 32px;
    }


}